body {
    background-color: cornflowerblue;
}
#container {
    background-image: url("../img/weather.jpeg");
}
.header {
    font-size: 75px;
    text-decoration: underline;
}
.card {
    background-color: #0fb784;
}
#search {
    background-color: lightgray;
}
#button {
    background-color: #BFD45D;
}
.list-group-item {
    background-color: lightgray;
}
li, label, .card-header {
    font-weight: bold;
}
#map {
    border-radius: 25%;
}
.card-header {
    background-color: #BFD45D;
}